@import 'appbar';
@import '../../config/variables';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

html, body {
    margin: 0;
    height: 100%;
    font-family: "Source Sans Pro";
}

table tr {
    border-color: $lighterBlue;
}

h1 {
    font-size: 32px;
    font-weight: normal;
    display: inline-block;
}

.tabs {
    position: relative;

    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 46px;
        width: 100%;
        background-color: $lighterBlue;
        height: 2px;
    }
}

.active-link {
    &:before {
        content: '';
        width: 5px;
        display: block;
        height: 100%;
        background-color: $selection;
        position: absolute;
        left: 0;
    }
}

.main {
    flex: 1 1 0;
    display: flex;
    flex-flow: column;

    .top-bar {
        height: 67px;
        border-bottom: 1px solid $lighterBlue;
    }

    .app-bar {
        flex: 0 1 auto;
        position: relative;

        .user-info {
            position: absolute;
            right: 10px;
            top: 10px;
            line-height: 35px;

            & > div {
                vertical-align: middle;
                margin-right: 15px;
            }
        }

         .avatar-info {
            display: inline-block;
            position: absolute;
            right: 55px;
            top: 5px;

            img,p {
                display: inline;
                vertical-align: middle;
            }
        }
    }

    .content {
        flex: 1 1 auto;
    }
}

span[role="menuitem"] {
    div:hover {
        color: $lighterBlue;

        svg {
            fill: $lighterBlue !important;
        }
    }

}

@-webkit-keyframes loader {
    0% {
        width: 16.8px;
        height: 16.8px;
        background: $lighterBlue;
    }
    25% {
        width: 16.8px;
        height: 16.8px;
        background: $lighterBlue;
    }
    50% {
        width: 28px;
        height: 28px;
        background: $lighterBlue;
    }
    75% {
        width: 16.8px;
        height: 16.8px;
        background: $lighterBlue;
    }
    100% {
        width: 16.8px;
        height: 16.8px;
        background: $lighterBlue;
    }
}
@keyframes loader {
    0% {
        width: 16.8px;
        height: 16.8px;
        background: $lighterBlue;
    }
    25% {
        width: 16.8px;
        height: 16.8px;
        background: $lighterBlue;
    }
    50% {
        width: 28px;
        height: 28px;
        background: $lighterBlue;
    }
    75% {
        width: 16.8px;
        height: 16.8px;
        background: $lighterBlue;
    }
    100% {
        width: 16.8px;
        height: 16.8px;
        background: $lighterBlue;
    }
}
.loader {
    position: relative;
}
.loader div {
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-animation: loader 1s linear infinite;
    animation: loader 1s linear infinite;
    border-radius: 50%;
}
.loader div:nth-child(1) {
    -webkit-animation-delay: -0.917s;
    animation-delay: -0.917s;
    left: 170px;
    top: 100px;
}
.loader div:nth-child(2) {
    -webkit-animation-delay: -0.833s;
    animation-delay: -0.833s;
    left: 160.622px;
    top: 135px;
}
.loader div:nth-child(3) {
    -webkit-animation-delay: -0.75s;
    animation-delay: -0.75s;
    left: 135px;
    top: 160.622px;
}
.loader div:nth-child(4) {
    -webkit-animation-delay: -0.667s;
    animation-delay: -0.667s;
    left: 100px;
    top: 170px;
}
.loader div:nth-child(5) {
    -webkit-animation-delay: -0.583s;
    animation-delay: -0.583s;
    left: 65px;
    top: 160.622px;
}
.loader div:nth-child(6) {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
    left: 39.378px;
    top: 135px;
}
.loader div:nth-child(7) {
    -webkit-animation-delay: -0.417s;
    animation-delay: -0.417s;
    left: 30px;
    top: 100px;
}
.loader div:nth-child(8) {
    -webkit-animation-delay: -0.333s;
    animation-delay: -0.333s;
    left: 39.378px;
    top: 65px;
}
.loader div:nth-child(9) {
    -webkit-animation-delay: -0.25s;
    animation-delay: -0.25s;
    left: 65px;
    top: 39.378px;
}
.loader div:nth-child(10) {
    -webkit-animation-delay: -0.167s;
    animation-delay: -0.167s;
    left: 100px;
    top: 30px;
}
.loader div:nth-child(11) {
    -webkit-animation-delay: -0.083s;
    animation-delay: -0.083s;
    left: 135px;
    top: 39.378px;
}
.loader div:nth-child(12) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    left: 160.622px;
    top: 65px;
}
